body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 16px;
}

.header {
  padding-bottom: 214px;
  background-image: url(../img/bg.png);
  background-size: cover;
}

.wrapper {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  position: relative;
}

.nav-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 12px;
  padding-bottom: 7px;
}

.info {
  display: flex;
  padding-left: 0;
  list-style-type: none;
  align-items: center;
}

.info-left {
  letter-spacing: -0.3px;
}

.info-left .info-item {
  margin-right: 32px;
}

.info-right .info-item {
  margin-left: 6px;
}

.info-link {
  text-decoration: none;
}

.info-link:hover {
  color: #30a3f0;
}

.info-item,
.info-link {
  color: rgb(255, 255, 255);
  color: rgba(255, 255, 255, 0.3);
  font-size: 14px;
}

.info-link svg {
  color: #30a3f0;
  margin-right: 11px;
}

.register::before {
  content: '/';
  margin-right: 6px;
}

.head {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 23px 38px 27px;
  margin-bottom: 220px;
}

.nav {
  list-style-type: none;
  display: flex;
  padding-left: 0;
  letter-spacing: -0.4px;
}

.nav-item {
  margin-left: 9px;
}

.nav-item:first-child {
  margin-left: 0;
}

.nav-link {
  color: #444444;
  text-decoration: none;
  padding: 11px 19px 12px;
  border: 1px solid transparent;
}

.active {
  color: #30a3f0;
  border: 1px solid #30a3f0;
  padding: 6px 21px 9px 16px;
  margin-right: 8px;
  border-radius: 5px;
}

.nav-link:hover {
  color: #30a3f0;
  border-radius: 5px;
}

.logo {
  width: 159px;
}

.nav-btn svg {
  color: #444444;
}

.nav-btn {
  background-color: transparent;
  border: none;
  padding: 0;
}

.nav-item-btn {
  margin-left: 21px;
}

h1 {
  font-size: 45px;
  color: #fff;
  line-height: 60px;
  font-weight: 800;
  text-transform: uppercase;
  max-width: 720px;
  margin: 5px auto;
  letter-spacing: 0.8px;
}

.title p {
  color: #30a3f0;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  margin-bottom: 0;
}

.center {
  text-align: center;
}

.center .title-h2 {
  margin-bottom: 9px;
}

.element {
  width: 1px;
  height: 100px;
  background-color: #2b88c7;
  margin: 0 auto;
}

.element-top {
  margin-bottom: 26px;
}

.element-bottom {
  margin-top: 19px;
  margin-bottom: 56px;
}

.title {
  margin-bottom: 26px;
}

.btn {
  font-size: 14px;
  font-weight: 700;
  color: #30a3f0;
  text-transform: uppercase;
  text-decoration: none;
  border: 1px solid #30a3f0;
  padding: 16px 29px;
  border-radius: 5px;
  letter-spacing: 2px;
  transition: background-color 0.5s linear, color 0.2s ease;
}

.btn:hover {
  background-color: #30a3f0;
  color: #fff;
}

.page-line {
  border-bottom: 1px solid #e4e4e4;
}

.box-item h2 {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 16px;
}

.box {
  display: flex;
}

.box-item {
  flex-basis: 33.333%;
  border-left: 1px solid #e4e4e4;
  border-right: 1px solid #e4e4e4;
  padding: 93px 60px 114px;
}

.title-h2 {
  font-size: 30px;
  font-weight: 800;
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  margin-bottom: 12px;
}

.title-h2 span {
  font-size: 16px;
  color: #30a3f0;
  display: block;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  text-transform: capitalize;
  margin-bottom: 13px;
}

.line {
  display: block;
  width: 53px;
  height: 16px;
  background-image: url(../img/line.svg);
  background-repeat: no-repeat;
  margin-bottom: 32px;
}

.line-center {
  display: block;
  width: 90px;
  height: 14px;
  background-image: url(../img/line-center.svg);
  background-repeat: no-repeat;
  margin: 0 auto 23px;
}

.description {
  color: #707070;
  line-height: 26px;
}

.page-mockup .description {
  margin-bottom: 27px;
}

.page-gray .description,
.page-team .description,
.page-blog .description {
  max-width: 690px;
  margin: 0 auto;
}

.list-description {
  color: #222222;
  padding-left: 0;
  list-style-type: none;
  margin-top: 31px;
  margin-bottom: 56px;
}

.list-description>li {
  margin-bottom: 22px;
  color: #222222;
  padding-left: 37px;
  position: relative;
}

.list-description>li::before {
  content: '';
  display: block;
  width: 16px;
  height: 14px;
  background-image: url(../img/check.png);
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  left: 0;
  top: calc(50% - 7px);
}

.mockup {
  display: block;
  width: 625px;
  height: 557px;
  background-image: url(../img/mockup.png);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  right: -83px;
  bottom: 1px;
}

.btn-blue {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  color: #313131;
  background-color: #e0e0e0;
  border: 1px solid #30a3f0;
  padding: 17px 39px;
  border-radius: 5px;
  letter-spacing: 1px;
  transition: background-color 0.5s linear, color 0.2s ease;
}

.btn-blue:hover {
  background-color: #30a3f0;
  color: #fff;
}

.box-text {
  max-width: 530px;
}

.page-mockup {
  margin-top: 98px;
  padding-bottom: 118px;
}

.page-gray {
  background-color: #fafafa;
  padding-top: 73px;
}

.page-company {
  background-color: #fdfdfd;
  padding-top: 122px;
  padding-bottom: 116px;
  margin-top: 95px;
}

.box-icon {
  width: 152px;
  height: 152px;
  font-size: 40px;
  color: #222222;
  line-height: 3.5;
  background-image: url(../img/icon-gray.png);
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  margin: 0 auto 22px;
  transition: 0.5s linear, color 0.2s;
}

.box-icon-pen {
  font-size: 30px;
  line-height: 4.8;
}

.box-icon-min {
  font-size: 24px;
  width: 96px;
  height: 96px;
  background-size: 96px 96px;
  flex-basis: 96px;
  text-align: center;
  line-height: 3.8;
  margin: initial;
  color: #c9c9c9;
}

.box-icon-min:hover {
  background-image: url(../img/blue-min.png);
  color: #fff;
  background-size: contain;
  background-repeat: no-repeat;
}

.box-item:hover .box-icon {
  background-image: url(../img/icon-blue.png);
  color: #fff;
  background-size: contain;
  background-repeat: no-repeat;
}

.photo {
  display: flex;
  margin-top: 56px;
}

.photo-item {
  overflow: hidden;
  flex-basis: 20%;
  height: 350px;
  position: relative;
}

.photo-item img {
  /*Lesson 12 Base2.0 17min*/
  width: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
  height: 350px;
  /*machen Text auf dem Bild sichtbar*/
  z-index: -1;
}

.photo-text {
  position: absolute;
  width: 100%;
  text-align: center;
  top: calc(50% - 30px);
  display: none;
}

.photo-item h3 {
  font-size: 22px;
  font-weight: 700;
  font-family: 'Raleway', sans-serif;
  color: #fff;
  margin-bottom: 14px;
  margin-top: 0;
  text-transform: uppercase;
}

.photo-text p {
  color: #707070;
  margin-bottom: 0;
}

.photo-item:hover {
  background-color: rgb(255, 255, 255);
  background-color: rgba(34, 34, 34, 0.8);
}

.photo-item:hover .photo-text {
  display: block;
}

.photo-btn {
  display: flex;
  bottom: 0;
  right: 0;
  position: absolute;
  overflow: hidden;
  display: none;
}

.photo-item:hover .photo-btn {
  display: flex;
}

.photo-item:hover a:hover {
  color: #fff;
  background-color: #30a3f0;
}

.photo-btn a {
  display: flex;
  padding: 23px;
  color: #313131;
  background-color: #fff;
}

.grid {
  display: grid;
  grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
  grid-gap: 106px 30px;
  margin-top: 123px;
  margin-bottom: 117px;
}

.grid h3 {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 10px;
  margin-top: 0;
}

.grid .description {
  margin-bottom: 0;
  margin-top: 0;
}

.grid-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.grid-line-text {
  flex-basis: calc(100% - 126px);
  text-align: left;
}

.page-bg {
  background-image: url(../img/bg.png);
  -webkit-background-size: cover;
  /*Das Bild wird sich anpassen zu der Flaeche*/
  background-size: cover;
  padding-top: 108px;
  padding-bottom: 53px;
}

.page-bg .title p {
  margin-bottom: 22px;
}

.page-bg .element-top {
  margin-bottom: 36px;
}

.page-bg .title {
  margin-bottom: 0;
}

.page-bg .title h1 {
  margin-bottom: 40px;
}

.page-bg .element-bottom {
  margin-top: 53px;
}

.page-team {
  padding-top: 73px;
  padding-bottom: 87px;
}

.team {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 54px;
}

.team-item {
  flex-basis: 32%;
}

.team-thumb {
  margin-bottom: 37px;
  background-color: rgba(255, 255, 255, 0.5);
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 370px;
}

.team-thumb img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
  z-index: -1;
}

.team-item:hover .team-thumb {
  background-color: rgba(255, 255, 255, 0);
}

.team-position {
  font-size: 14px;
  color: #30a3f0;
  margin-bottom: 14px;
}

.team-name {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  color: #222222;
  margin-bottom: 7px;
  margin-top: 0;
  font-size: 20px;
}

.team-social {
  list-style-type: none;
  padding-left: 0;
  display: flex;
  justify-content: center;
  margin-top: 25px;
}

.team-social-item {
  margin-right: 5px;
  margin-left: 5px;
}

.team-social-item>a {
  color: #c9c9c9;
  text-decoration: none;
  background-image: url(../img/gray.png);
  background-size: 40px 40px;
  background-position: center center;
  background-repeat: no-repeat;
  display: block;
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: 14px;
  line-height: 2.8;
}

.team-social-item>a:hover {
  color: #fff;
  background-image: url(../img/blue-min.png);
}

.screen {
  margin-top: 57px;
  width: 100%;
}

.page-stat {
  background-color: #111111;
  color: #fff;
  padding-top: -14px;
  padding-bottom: 0;
}

.box-stat {
  display: flex;
  justify-content: space-around;
  text-align: center;
  padding-top: 109px;
  padding-bottom: 105px;
  margin-bottom: 99px;
}

.box-stat svg {
  color: #30a3f0;
  font-size: 55px;
}

.box-stat h3 {
  font-weight: 700;
  font-size: 50px;
  margin-top: 34px;
  margin-bottom: 0;
}

.box-stat h3 span {
  color: #707070;
  font-weight: 400;
  display: block;
  font-size: 16px;
  margin-bottom: 16px;
}

.blog {
  display: grid;
  grid-template: 1fr 1fr / 1fr 1fr;
  grid-gap: 30px;
  margin-top: 55px;
}

.blog-flex {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  height: 100%;
}

.thumb-blog {
  position: relative;
  width: 285px;
  flex-basis: 285px;
  overflow: hidden;
}

.thumb-blog img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  outline-style: cover;
  z-index: -1;
}

.thumb-blog::after {
  content: '';
  background-image: url(../img/shape.png);
  width: 21px;
  height: 42px;
  display: block;
  position: absolute;
  right: 0;
  top: 39px;
}

.thumb-blog:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.thumb-blog:hover .eye {
  display: block;
}

.eye {
  font-size: 60px;
  color: #fff;
  text-align: center;
  padding-top: 144px;
  overflow: hidden;
  display: none;
}

.text-blog {
  padding: 45px 37px 50px;
  background-color: #fafafa;
  flex-basis: calc(100% - 285px);
}

.text-blog h3 {
  font-size: 18px;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 0;
}

.text-blog ul {
  list-style-type: none;
  padding-left: 0;
  text-transform: uppercase;
  color: #444444;
  display: flex;
  font-size: 12px;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 45px;
}

.text-blog ul>li {
  padding-right: 17px;
  margin-right: 19px;
  border-right: 1px solid #707070;
}

.text-blog ul>li:last-child {
  border-right: none;
  padding-right: 0;
  margin-right: 0;
}

.text-blog ul>li>a {
  color: #444444;
  text-decoration: none;
}

.text-blog p {
  color: #444444;
  line-height: 26px;
}

.text-blog a {
  text-decoration: none;
  color: #30a3f0;
}

.text-blog a span {
  margin-right: 10px;
}

.blog-share {
  display: flex;
  position: absolute;
  bottom: 23px;
  width: 100%;
  justify-content: center;
}

.blog-share button {
  4 background-color: #fff;
  color: #707070;
  font-size: 14px;
  border: 1px solid transparent;
  border-radius: 7px;
  padding: 3px 9px;
  font-weight: 600;
}

.blog-share button:hover {
  background-color: #30a3f0;
  color: #fff;
}

.comments {
  margin-right: 10px;
}

.blog-share svg {
  font-size: 12px;
  margin-right: 6px;
}

.company {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.company-item {
  display: block;
  background-image: url(../img/company.png);
  background-repeat: no-repeat;
  height: 93px;
}

.company-one {
  width: 116px;
  flex-basis: 116px;
  background-position: -19px center;
}

.company-two {
  width: 125px;
  flex-basis: 125px;
  background-position: -214px center;
}

.company-three {
  width: 97px;
  flex-basis: 97px;
  background-position: -428px center;
}

.company-four {
  width: 120px;
  flex-basis: 120px;
  background-position: -617px center;
}

.company-five {
  width: 90px;
  flex-basis: 90px;
  background-position: -832px center;
}

.company-six {
  width: 125px;
  flex-basis: 125px;
  background-position: -1014px center;
}

.footer {
  background-color: #151515;
}

.footer-bg {
  background-color: #1a1a1a;
  padding-top: 18px;
  padding-bottom: 28px;
}

.btn-footer {
  background-color: #1a1a1a;
  color: #707070;
  font-size: 26px;
  display: block;
  width: 47px;
  height: 34px;
  margin: 0 auto;
  border: none;
  cursor: pointer;
}

.btn-footer:focus {
  outline: none;
}

.footer-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.3);
}

.footer-list {
  display: flex;
  list-style-type: none;
  padding-left: 0;
}

.footer-list>li {
  padding-left: 23px;
  margin-left: 22px;
  border-left: 1px solid #3a3a3a;
}

.footer-list>li:first-child {
  padding-right: 0;
  margin-left: 0;
  border-left: none;
}

.footer-list>li>a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.3);
}

@media(max-width: 1380px) {
  .mockup {
    width: 500px;
    height: 447px;
    right: 30px;
  }
}

@media(max-width: 1300px) {
  .wrapper {
    max-width: 900px;
  }

  .head {
    flex-wrap: wrap;
    justify-content: center;
    padding: 23px 40px 23px;
  }

  .nav {
    margin-top: 28px;
  }

  .box-item {
    padding: 60px 30px 60px;
  }

  .mockup {
    width: 388px;
    height: 346px;
    right: 15px;
  }

  .blog {
    grid-template: 1fr 1fr 1fr 1fr / 1fr;
  }
}

@media(max-width: 992px) {
  .wrapper {
    max-width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
  }

  .header {
    padding-bottom: 80px;
  }

  .head {
    padding: 23px 40px 16px;
    margin-bottom: 80px;
  }

  nav {
    flex-basis: 100%;
  }

  .nav {
    justify-content: center;
    margin: 19px auto 0;
    flex-wrap: wrap;
  }

  .nav-link,
  .nav-link .active {
    padding: 6px 10px 9px;
  }

  .nav-item {
    margin-left: 0;
    margin-bottom: 11px;
  }

  .nav-item-btn {
    margin-left: 15px;
  }

  <<<<<<< HEAD .title p {
    font-size: 16px;
  }

  .title h1 {
    font-size: 35px;
    line-height: 47px;
    max-width: 552px;
  }

  .btn, .btn-blue {
    font-size: 12px;
  }

  .title-h2 {
    font-size: 28px;
  }

  .title-h2 span {
    font-size: 14px;
    margin-bottom: 12px;
  }

  .page-mockup {
    padding-bottom: 35px;
  }

  .page-gray {
    padding-top: 30px;
  }

  .box-stat h3 span {
    font-size: 14px;
    margin-bottom: 10px;
  }

  .box-stat h3 {
    font-size: 35px;
  }

  .photo {
    flex-wrap: wrap;
  }

  .photo-item {
    flex-basis: 50%;
    height: 250px;
  }

  .photo-item:last-child,
  .grid-item:last-child,
  .mockup {
    display: none;
  }

  .grid {
    grid-template: 1fr 1fr 1fr 1fr / 1fr 1fr;
  }

  .team {
    flex-wrap: wrap;
  }

  .team-item {
    flex-basis: 100%;
    margin-bottom: 20px;
  }

  .team-thumb {
    margin: 0 auto 15px;
  }

  =======.title p {
    font-size: 16px;
  }

  .title h1 {
    font-size: 35px;
    line-height: 47px;
    max-width: 552px;
  }

  .btn, .btn-blue {
    font-size: 12px;
  }

  .title-h2 {
    font-size: 28px;
  }

  .title-h2 span {
    font-size: 14px;
    margin-bottom: 12px;
  }

  .box-stat h3 span {
    font-size: 14px;
    margin-bottom: 10px;
  }

  .box-stat h3 {
    font-size: 35px;
  }

  .photo {
    flex-wrap: wrap;
  }

  .photo-item {
    flex-basis: 50%;
    height: 250px;
  }

  .photo-item:last-child,
  .grid-item:last-child,
  .mockup {
    display: none;
  }

  .grid {
    grid-template: 1fr 1fr 1fr 1fr / 1fr 1fr;
  }

  .team {
    flex-wrap: wrap;
  }

  .team-item {
    flex-basis: 100%;
    margin-bottom: 20px;
  }

  .team-thumb {
    margin: 0 auto 15px;
  }

  >>>>>>>6ad780df896293049651c3824449e6aa569fcc2f .team-thumb, .team-thumb img {
    height: 200px;
    width: 200px;
  }

  .team-social {
    margin-top: 11px;
  }

  <<<<<<< HEAD .page-team {
    padding-bottom: 30px;
  }

  .screen {
    margin-top: 57px;
    width: 100%;
  }

  .page-company {
    padding-top: 80px;
    padding-bottom: 80px;
    margin-top: 40px;
  }

  =======>>>>>>>6ad780df896293049651c3824449e6aa569fcc2f .box-stat svg {
    font-size: 40px;
  }

  .footer-text {
    flex-direction: column;
  }

  <<<<<<< HEAD=======>>>>>>>6ad780df896293049651c3824449e6aa569fcc2f .box-text {
    max-width: 100%;
  }
}

@media(max-width: 978px) {
  .nav-top {
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 0;
  }

  .info {
    margin-top: 0;
  }

  .page-line {
    border-bottom: none;
  }

  .box-item {
    padding: 20px 30px 20px;
    border-bottom: 1px solid #e4e4e4;
    box-sizing: content-box;
  }

  .box .box-icon {
    display: none;
  }

  .box-item-center {
    border-left: none;
    border-right: none;
  }

  .box {
    border-left: none;
    border-right: none;
    flex-direction: column;
  }

  @media(max-width: 800px) {
    .company {
      display: none;
    }

    .grid {
      margin-top: 55px;
      grid-gap: 45px 10px;
    }

    .box-icon-min {
      width: 80px;
      height: 80px;
      background-size: 80px 80px;
      flex-basis: 80px;
      line-height: 3.3;
    }

    .page-company {
      padding-bottom: 0;
    }
  }

  @media(max-width: 576px) {
    .element {
      height: 70px;
    }

    .head {
      margin-bottom: 50px;
    }

    .btn, .btn-blue {
      font-size: 10px;
      padding: 12px 17px;
    }

    .photo-btn a {
      padding: 14px;
    }

    .title h1 {
      font-size: 23px;
      line-height: 40px;
      max-width: 370px;
    }

    .title-h2 {
      font-size: 20px;
    }

    .title-h2 span {
      font-size: 12px;
    }

    .box-stat {
      padding-top: 80px;
      padding-bottom: 80px;
      margin-bottom: 70px;
    }

    .box-stat svg {
      font-size: 30px;
    }

    .box-stat h3 {
      font-size: 25px;
    }

    .page-company {
      padding: 0;
    }

    .box-item {
      border-left: none;
      border-right: none;
    }
  }

  @media(max-width: 570px) {
    .info-left, .info-right {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 0;
      line-height: 27px;
    }

    .info-item:first-child {
      margin-left: 0;
    }

    .info-item-questions {
      display: none;
    }

    .nav {
      display: grid;
      grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr 1fr 1fr 1fr;
    }

    .nav-item:nth-child(1),
    .nav-item:nth-child(4),
    .nav-item:nth-child(7) {
      grid-column: 1 / 3;
    }

    .nav-item:nth-child(2),
    .nav-item:nth-child(5),
    .nav-item:nth-child(8) {
      grid-column: 3 / 5;
    }

    .nav-item:nth-child(3),
    .nav-item:nth-child(6) {
      grid-column: 5 / 7;
    }

    .head {
      padding: 23px 30px 16px;
    }

    .box-item {
      padding: 10px 30px 10px;
    }

    .page-mockup {
      margin-top: 50px;
    }

    .info-left .info-item {
      margin-right: 20px;
    }

    .grid {
      grid-gap: 45px 20px;
      margin-bottom: 60px;
    }

    .grid-line {
      display: flex;
      flex-flow: column;
      text-align: center;
    }

    .grid-line-text {
      text-align: center;
    }

    .box-icon-min {
      margin-bottom: 10px;
    }

    .page-bg {
      padding-top: 70px;
      padding-bottom: 1px;
    }

    .blog-flex {
      flex-flow: column;
    }

    .text-blog {
      padding: 17px 0px 20px;
      flex-basis: calc(100% - 200px);
    }

    .text-blog ul {
      margin-bottom: 25px;
    }

    .text-blog ul>li {
      padding-right: 12px;
      margin-right: 12px;
    }

    .footer-list>li {
      padding-left: 17px;
      margin-left: 17px;
    }

    .thumb-blog {
      width: 100%;
      flex-basis: 240px;
    }

    .eye {
      font-size: 40px;
      padding-top: 60px;
    }

    .blog-flex {
      width: 280px;
      margin: 0 auto;
    }

    .page-team {
      padding-bottom: 0px;
    }

    .team {
      margin-top: 30px;
    }

    .team-thumb {
      height: 280px;
    }

    .team-thumb img {
      width: 240px;
    }

    .page-stat {
      margin-bottom: 40px;
    }

    .box-stat-item {
      display: block;
      text-align: center;
    }

    .box-stat {
      max-width: 400px;
      margin: 0 auto;
    }

    .box-stat h3 {
      margin-top: 20px;
    }

    .box-stat h3 span {
      max-width: 75px;
    }

    .footer-list>li {
      padding-left: 9px;
      margin-left: 9px;
    }
  }

  @media(max-width: 400px) {
    .footer-list>li {
      padding-left: 0;
      margin-right: 20px;
      margin-left: 0;
      margin-bottom: 20px;
    }

    .footer-list {
      flex-wrap: wrap;
    }

    .footer-list>li {
      border-left: none;
    }
  }

  @media(max-width: 320px) {
    .box-item h2 {
      font-size: 16px;
    }

    .nav-top {
      justify-content: flex-start;
      padding-bottom: 15px;
    }
  }

  .title p {
    font-size: 12px;
  }

  .title h1 {
    font-size: 16px;
    line-height: 33px;
    max-width: 215px;
  }

  .box-stat {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    max-width: 223px;
  }

  .box-stat {
    padding-top: 60px;
    padding-bottom: 40px;
  }

  .box-stat-item {
    margin-bottom: 20px;
  }

  .footer-list {
    flex-wrap: wrap;
    max-width: 225px;
  }

  .footer-text p {
    display: flex;
    justify-content: flex-start;
    line-height: 25px;
  }

  .team-thumb img {
    width: 180px;
  }

  .team-thumb {
    height: 200px;
  }
}

.box-icon-min {
  width: 60px;
  height: 60px;
  background-size: 60px 60px;
  flex-basis: 60px;
  line-height: 2.5;
}

.photo {
  justify-content: center;
}

.photo-item {
  flex-basis: 200px;
  height: 200px;
}

.photo-item h3 {
  font-size: 16px;
}

.photo-text p {
  font-size: 12px;
}

.active {
  margin-right: 0;
}
}
